# Terraform working directory
.terraform/

# Terraform state files
*.tfstate
*.tfstate.*

# Terraform plan files
tfplan
*.tfplan

# Crash logs
crash.log
crash.*.log

# Node dependencies
node_modules/

# Environment variables
.env